<nav class="navbar navbar-inverse  navbar-fixed-top home nav_home">
	<div class='container-fluid'>
		<div class='navbar-header'>
            <div id="brand col-xs-12 col-sm-12 col-md-12 col-lg-6 left">
				<h4 class="visible-lg visible-md text-left ">Martin Home Inspection Services</h4>
                <h5 class="visible-lg visible-md"><small>Inspected once, inspected right&reg;</small></h5>
				<h4 class='mobile_brand visible-sm visible-xs'>MHI</h4>
            </div>
			<!-- <div class="brand col-xs-12 col-sm-12 col-md-12 col-lg-6 right pull-right">
				<p id="callNow" class="text-right"><span class="glyphicon glyphicon-phone"></span> Call Me Today! <a href="tel:+13085301210">1.308.530.1210</a></p>
			</div> -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li><a href="#/home">Home</a></li>
					<li><a href="#!/inspection">Full Inspection</a></li>
	                <li><a href="#!/qualifications">Qualifications</a></li>
	                <li><a href="#!/about">About</a></li>
	                <li class='active'><a href="#!/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class="container-fluid main">
	<div class="row row_container row_margin" id="row_1">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<h2>Contact Us For Your Home Inspection Today!</h2>
			<p>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-phone-alt"></span> Landline: <a href="tel:+13085322150">1.308.532.2150</a></li>
					<li><span class="glyphicon glyphicon-phone"></span> Cell: <a href="tel:+13085301210">1.308.530.1210</a></li>
					<li><span class="glyphicon glyphicon-send"></span> Email: <a href="mailto:martinhomeinspection@yahoo.com">martinhomeinspection@yahoo.com</a></a></li>
					<li><span class="glyphicon glyphicon-envelope"></span>
						Mailing Address:<br>
						<address id="address1">
							<strong>Martin Home Inspection Services</strong><br>
							P.O. Box 1112<br>
							North Platte, NE 69103<br>
						</address>
					</li>
			</p>
		</div>
	</div>
</div>
<footer class='footer footer-inverse' id='row_4'>
	<p class='text-center' id='mhi_a'>Copyright &copy; 2017 <a href='http://www.martinhomeinspection.com'>Martin Home Inspection Services</a></p>
	<p class='text-center small'>Designed and Built by <a href='http://www.patrickadamson.com'>P.S. Adamson</a></p>
	<p class='text-center small'>All images and logos are property of their respective owners and are used with permission</p>
</footer>
