<nav class="navbar navbar-inverse  navbar-fixed-top home nav_home">
	<div class='container-fluid'>
		<div class='navbar-header'>
            <div id="brand col-xs-12 col-sm-12 col-md-12 col-lg-6 left">
				<h4 class="visible-lg visible-md text-left ">Martin Home Inspection Services</h4>
                <h5 class="visible-lg visible-md"><small>Inspected once, inspected right&reg;</small></h5>
				<h4 class='mobile_brand visible-sm visible-xs'>MHI</h4>
            </div>
			<!-- <div class="brand col-xs-12 col-sm-12 col-md-12 col-lg-6 right pull-right">
				<p id="callNow" class="text-right"><span class="glyphicon glyphicon-phone"></span> Call Me Today! <a href="tel:+13085301210">1.308.530.1210</a></p>
			</div> -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li><a href="#/home">Home</a></li>
					<li class='active'><a href="#!/inspection">Full Inspection</a></li>
	                <li><a href="#!/qualifications">Qualifications</a></li>
	                <li><a href="#!/about">About</a></li>
	                <li><a href="#!/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class="container-fluid main">
	<div class="row row_container row_margin" id="row_1">
		<div id="row">
			<div id="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p id="callNow" class="text-right"><span class="glyphicon glyphicon-phone"></span> Call Me Today! <a href="tel:+13085301210">1.308.530.1210</a></p>
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 col-centered">
				<h2 class='text-center h2_margin_bottom'>What is a Home Inspection?</h2>
	            <p>
	                A typical home inspection reviews the condition of the home's heat system, central air conditioning system (weather permitting),
	                interior plumbing and electrical systems; the roof, attic and visible insulation; walls, ceilings, floors, windows and doors;
	                foundation, basement and visible structure.<br/>
	                <br/>
	                The inspection generally takes 2&half; to 4 hours to perform, and the report is generated soon after the inspection.<br/>
	            </p>
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img class='img-responsive center-block' src="../static/img/NE-1.jpg" alt="Nebraska InterNACHI">
			</div>
		</div>
	</div>
	<div class="row row_container" id="row_2">
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 col-centered">
	            <h2 class='text-center h2_margin_bottom'>Home Inspection Report</h2>
	            <p class='text-center'>
	                A home inspection report is a snapshot in time of the home's physical condition and indicates what may need major repair or replacement.
	            </p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 col-centered">
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="http://fast.wistia.net/embed/iframe/ri4teruwuu"></iframe>
				</div>
			</div>
		</div>

	</div>
	<div class="row row_container" id="row_3">
        <h2 class='text-center h2_margin_bottom'>Our Full Inspection</h2>
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-centered">
            <ul class='list-group text-center'>
				<li class='list-group-item'>Roof, vents, flashings, and trim</li>
                <li class='list-group-item'>Gutters and downspouts</li>
                <li class='list-group-item'>Skylight, chimney and other roof penetrations</li>
                <li class='list-group-item'>Decks, stoops, porches, walkways, and railings</li>
                <li class='list-group-item'>Eaves, soffit and fascia</li>
                <li class='list-group-item'>Grading and drainage</li>
                <li class='list-group-item'>Basement, foundation and crawlspace</li>
                <li class='list-group-item'>Water penetration and foundation movement</li>
                <li class='list-group-item'>Heating systems</li>
                <li class='list-group-item'>Cooling systems</li>
                <li class='list-group-item'>Main water shut off valves</li>
                <li class='list-group-item'>Water heating system</li>
                <li class='list-group-item'>Interior plumbing fixtures and faucets</li>
                <li class='list-group-item'>Drainage sump pumps with accessable floats</li>
                <li class='list-group-item'>Electrical service line and meter box</li>
                <li class='list-group-item'>Main disconnect and service amperage</li>
                <li class='list-group-item'>Grounding and bonding</li>
                <li class='list-group-item'>GFCIs and AFCI</li>
                <li class='list-group-item'>Fireplace damper door and hearth</li>
                <li class='list-group-item'>Insulation and ventilation</li>
                <li class='list-group-item'>Garage doors, safety sensors, and openers</li>
			</ul>
            <p class='text-center'>And Much More!</p>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img class='img-responsive center-block' src="../static/img/small-banner1.gif" alt="InterNACHI">
			</div>
		</div>
	</div>
    <div class="row row_container text-center" id='row_5'>
        <h2 class="h2_margin_bottom">Review our Standards of Practice</h2>
        <p>Visit <a href="http://www.nachi.org/sop.htm" alt='Nachi.org'>Nachi.org</a> for complete details.</p>
    </div>
</div>
<footer class='footer footer-inverse' id='row_4'>
	<p class='text-center' id='mhi_a'>Copyright &copy; 2017 <a href='http://www.martinhomeinspection.com' alt='Martin Home Inspection'>Martin Home Inspection Services</a></p>
	<p class='text-center small'>Designed and Built by <a href='http://www.patrickadamson.com' alt="Patrick Adamson">P.S. Adamson</a></p>
	<p class='text-center small'>All images and logos are property of their respective owners and are used with permission</p>
</footer>
