<nav class="navbar navbar-inverse  navbar-fixed-top home nav_home">
	<div class='container-fluid'>
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner'>
	            <ul class="nav navbar-nav">
	                <li class='active'><a href="#/home">Home</a></li>
					<li><a href="#!/inspection">Full Inspection</a></li>
	                <li><a href="#!/qualifications">Qualifications</a></li>
	                <li><a href="#!/about">About</a></li>
	                <li><a href="#!/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class="container-fluid main">
	<div class="row row_container" id="row_1">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<h1>Martin Home Inspection Services</h1>
			<h3>Inspected once, Inspected right &reg;</h3>
		</div>
	</div>
	<div class="row row_container" id="row_2">
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left">
			<h2>Make an informed decision</h2>
			<p>
				A professional home inspection provides the buyer with an opportunity to become familiar with the functions and condition of the home.
				Every home ages and wears differently and the buyer is best served by having a comprehensive review regardless of the home's age or
				appearance.
			</p><br>
			<p>
				Inspection of a newly constructed home will insure that the builder has not overlooked any details.  It will determine if the house meets
				industry standards or requires any last minute fixes that should be completed before the sale is final.  The home inspector works on your
				behalf to insure you have unbiased information before making that important purchase.
			</p>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right">
			<a href='http://www.certifiedmasterinspector.org'><img class='center-block img-responsive col-centered' src="../static/img/cmi_logo.png" alt="InterNACHI Nebraska Inspector"></a>
		</div>
	</div>
	<div class="row row_container" id="row_3">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 left">
				<img class='center-block img-responsive img-rounded col-centered' src="../static/img/kevin_small.jpeg" alt="Kevin Martin, Owner">
			</div>
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 right">
				<h2 class='text-center'>My Promise to You</h2>
				<blockquote>
					<p>"Choosing the right home inspector can be difficult.  Unlike most professionals,
						you probably will not get to meet me until after you hire me.  Furthermore,
						different inspectors have varying qualifications, equipment, experience, reporting
						methods, and yes, different pricing.  One thing for sure is that a home inspection
						requires work, a lot of work.  Ultimately a thorough inspection depends heavily on
						the individual inspector's own effort.  If you honor me by permitting me to inspect
						your new home, I guarantee that I will give you my very best effort.  This I promise you."</p><br/>
						<br>
					<div class='center-block'>
						<p>Kevin Martin, Certified Master Inspector<br/>
							<span>
								<p>Martin Home Inspection Services<br/>
								<em>Anyone else is just looking around&reg;</em>
							</span>
						</p>
					</div>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<footer class='footer footer-inverse' id='row_4'>
	<p class='text-center' id='mhi_a'>Copyright &copy; 2017 <a href='http://www.martinhomeinspection.com'>Martin Home Inspection Services</a></p>
	<p class='text-center small'>Designed and Built by <a href='http://www.patrickadamson.com'>P.S. Adamson</a></p>
	<p class='text-center small'>All images and logos are property of their respective owners and are used with permission</p>
</footer>
