<nav class="navbar navbar-inverse  navbar-fixed-top">
	<div class='container-fluid'>
		<div class='navbar-header'>
            <div id="brand">
                <h4 class="text-left">Martin Home Inspection Services</h4>
                <h5><small>Inspected once, inspected right&reg;</small></h5>
            </div>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class='navbar-inner pull-right'>
	            <ul class="nav navbar-nav">
	                <li><a href="#!/home">Home</a></li>
					<li><a href="#!/inspection">Full Inspection</a></li>
	                <li class='active'><a href="#!/qualifications">Qualifications</a></li>
	                <li><a href="#!/about">About</a></li>
	                <li><a href="#!/contact">Contact</a></li>
	            </ul>
	        </div>
		</div><!--/.nav-collapse -->
	</div>
</nav>
<div class="container-fluid main">
	<div class="row row_container row_margin" id="row_1">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<h2 class='h2_margin_bottom'>Qualifications</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#carousel" data-slide-to="2"></li>
				<li data-target="#carousel" data-slide-to="3"></li>
				<li data-target="#carousel" data-slide-to="4"></li>
				<li data-target="#carousel" data-slide-to="5"></li>
				<li data-target="#carousel" data-slide-to="6"></li>
				<li data-target="#carousel" data-slide-to="7"></li>
				<li data-target="#carousel" data-slide-to="8"></li>
				<li data-target="#carousel" data-slide-to="9"></li>
				<li data-target="#carousel" data-slide-to="10"></li>
				<li data-target="#carousel" data-slide-to="11"></li>
				<li data-target="#carousel" data-slide-to="12"></li>
				<li data-target="#carousel" data-slide-to="13"></li>
				<li data-target="#carousel" data-slide-to="14"></li>
				<li data-target="#carousel" data-slide-to="15"></li>
				<li data-target="#carousel" data-slide-to="16"></li>
				<li data-target="#carousel" data-slide-to="17"></li>
				<li data-target="#carousel" data-slide-to="18"></li>
				<li data-target="#carousel" data-slide-to="19"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
				<div class="item active">
  			      <img class='img-responsive' src="../static/img/DeckInspector.png" alt="Deck Inspector">
  			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/Electrical-logo.jpg" alt="Electrical Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/HomeEnergyAuditor.png" alt="Energy Audit Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/ExteriorInspector.png" alt="Exterior Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/green.png" alt="Green Building Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/HVACInspector-2.png" alt="HVAC Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/InfraredCertifiedLogo.gif" alt="Infrared Certified">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/LogHome-icon.png" alt="Log Home Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/Mobile-homes-inspector.png" alt="Mobile Home Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/MoistureIntrusionInspector-icon-web.png" alt="Moisture Instrusion Inspector">
			    </div>
				<div class="item">
			      <img src="../static/img/MoldInspector.png" alt="Mold Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/plumbing-inspector-logo.png" alt="Plumbing Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/PoolSpa-Inspector.png" alt="Pool/Spa Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/RadonTestor.png" alt="Radon Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/RoofInspector.png" alt="Roof Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/Structure.png" alt="Structure Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/WindMitigation-Inspector.png" alt="Wind Mitigation Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/CommercialInspector.png" alt="Commercial Property Inspector">
			    </div>
				<div class="item">
			      <img class='img-responsive' src="../static/img/residential_inspector.png" alt="Residential Property Inspector">
			    </div>
			    <div class="item">
			      <img class='img-responsive' src="../static/img/multi_family.jpg" alt="Multi-family Property Inspector">
			    </div>
			  </div>

			  <!-- Controls -->
			  <!-- Left and right controls -->
	  		<span class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	  			<span class="glyphicon glyphicon-chevron-left" aria-hidden='true'></span>
	  			<span class="sr-only">Previous</span>
	  		</span>
	  		<span class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	  			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  			<span class="sr-only">Next</span>
	  		</span>
			</div>
		</div>
	</div>
	<div class="row row_container" id="row_2">
		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 left">
			<img class='img-responsive center-block' id='pet' src="../static/img/PetFriendly-logo.png" alt="Pet Friendly Inspector">
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<p id='p_qual'>I have 10 years of HVAC sales and service experience as well as a licensed electrician installer.  I am an AIHA certified air quality and mold inspector.  To keep up with changes in the industry, I attend 24 hours of continuing education annually.</p>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 right">
			<a href="http://www.nachi.org"><img class='img-responsive center-block' src="../static/img/internachi_red_gold.png" alt="InterNACHI Seal"></a>
		</div>
	</div>
</div>
<footer class='footer footer-inverse' id='row_4'>
	<p class='text-center' id='mhi_a'>Copyright &copy; 2017 <a href='http://www.martinhomeinspection.com'>Martin Home Inspection Services</a></p>
	<p class='text-center small'>Designed and Built by <a href='http://www.patrickadamson.com'>P.S. Adamson</a></p>
	<p class='text-center small'>All images and logos are property of their respective owners and are used with permission</p>
</footer>
