* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html {
    font-size: 1em;
    /* 1em = 16px */
}

body {
    padding-top: 50px; /* correct for fixed navbar padding issues */
    font-family: 'Lato', sans-serif;
}

.main {
    min-width: 100%;
    min-height: auto;
}
.row_container {
    display: block;
    min-width: 100%;
    height: 100%;
    padding: 100px 20px;
}

.left, .right {
    display: inline-block;
}

.right {
    vertical-align: top;
}
.h2_margin_bottom {
    margin-bottom: 4%;
}
#callNow {
    color: red;
}
#row_1 {
    background-color: #fff;
}
    .row_margin {
        margin-top: 55px;
    }
    #row_1 h1 {
        font-size: 4.5rem;
        /* 72px / 16px = 4.5em */
    }
    #row_1 a {
        font-size: 1.5rem; /* 24px / 16px = 1.5em */
    }
    #row_1 ul.list-group {
        /*margin-left: 5%;*/
        width: 75%;
        list-style: none;
    }
    #row_1 ul li {
        padding: 2.5% 0 2.5% 5%;
        font-size: 1.5rem;
        font-weight: bold;
    }
    #row_1 strong {
        font-size: 2rem;
    }
#row_2 {
    background-color: #c0cdda;
}
    #row_2 iframe {
        margin-top: 5%;
    }
#row_3 {
    background-color: #fff;
}
    #row_3 p {
        margin-bottom: 6%;
    }

#row_4 {
    background-color: #777;
}
#row_5 {
    background-color: #e9ebee;
}
    #row_5 a {
        font-size: 1.5rem; /* 24px / 16px = 1.5 */
    }
.left h2, .right h2 {
    margin-bottom: 7.5%;
}
#address1 strong{
    font-size: 1.5rem;
}
/* *************************** Nav Bar *************************** */
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .nav_home .navbar-nav>.active>a:hover,
    .nav_home .navbar-nav>.active>a {
      color: #00ff00;
    }
    .nav_home .navbar-nav>li>a:hover {
      color: orange;
    }
    #brand {
        display: block;
        min-width: 100%;
    }
        #brand h4 {
            color: #e9ebee;
        }
    .navbar-header {
        min-width: 100%;
    }
#pet {
    margin-top: 25px;
}
#p_qual {
    padding: 5% 5% 0 5%;
}
/* *************************** Footer *************************** */
footer {
  padding-top: 1%;
  height: 10%;
}
  .footer-border {
    margin: 0.5% 0;
    border-bottom: 5px solid #000;
  }
  .footer p {
    color: #000;
  }

  #mhi_a a,
  .footer p>a {
      font-size: 1.5rem;
      color: orange;
  }
  .footer p>a {
      font-size: 1rem;
  }


/* *************************** .col-centered is for centering inputs and divs *************************** */

.col-centered {
    float: none;
    margin: 0 auto;
}


/******************************************************************************************************** */
/* ******************************************** Carousel ******************************************************* */
.carousel-inner > .item > img {
      max-width: 200px;
      max-height: 200px;
      min-width: 200px;
      min-height: 200px;
      margin: 5% auto;
  }
/* ************************************************************************************************************* */

/* ******************************************** Font Sizing ********************************************* */

h1 {
    font-size: 4.5rem;
    /* 72px / 16px = 4.5 */
}

h2 {
    font-size: 3.5rem;
    /* 56px / 16 = 3.5 */
}

h3 {
    font-size: 3rem;
    /* 48px / 16 = 3 */
}

h4 {
    font-size: 2.5rem;
    /* 40px / 16 = 2.5 */
}

h5 {
    font-size: 2rem;
    /* 32px / 16px = 2 */
}

h6 {
    font-size: 1rem;
    /* 16px / 16px = 1 */
}

p {
    font-size: 1.5rem;
    /* 24px / 16px = 1.5 */
}
